.widgets-panel {
    width: var(--widget-panel-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: var(--widget-col-gap);
    row-gap: var(--widget-row-gap);
}

.news-carousel-panel {
    flex: 1;
    position: relative;
    overflow:hidden;
    
}

.widget {
    width: 85%;
    min-height: var(--widget-min-height);
    max-height: var(--widget-max-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget-header {
    background-color: var(--color-primary);
    width: 100%;
    padding: 6px 10px;
    text-align: center;
    border-radius: var(--widget-header-border-radius);
}

.widget-body {
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.widget-image-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.widget-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-carousel-slide {
    display: flex;
    margin: var(--news-slide-margin);
    width: calc(100% - 2 * var(--news-slide-margin));
    height: calc(100% - 2 * var(--news-slide-margin));
    background-color: var(--news-slide-bg-color);
    border-radius: var(--news-carousel-slide-border-radius);
    position: relative;
    overflow: hidden;
}

.news-item {
    width: 100% !important;
    height: 100%;
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform var(--news-item-transition-duration) ease;
}

.news-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.news-details {
    z-index: 10;
    height: var(--news-details-height);
    background-color: rgb(40, 40, 40, 0.8);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--news-details-gap);
    padding: 10px 20px;
    margin-bottom: var(--carousel-indicators-height);
}

.news-info * {
    padding: 0;
    margin: 0;
}

.news-info {
    display: flex;
    gap: var(--news-info-gap);
    align-items: center;
    justify-content: space-between;
}

.news-title {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-date {
    text-wrap: nowrap;
}

.news-date span:first-child {
    color: var(--accent-color);
}

.read-more-link {
    color: var(--accent-color);
}

.read-more-link:hover {
    text-decoration: underline;
}

.carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}

.carousel-btn {
    width: var(--carousel-btn-width);
    height:  var(--carousel-btn-height);
    background-color: var(--carousel-btn-bg-color);
    font-size: 25px;
    border: 0;
    backdrop-filter: blur(12px);
    transition: opacity var(--transition-duration);
}

.carousel-btn.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.carousel-indicators {
    background-color: var(--carousel-indicators-bg-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--carousel-indicators-height);
    z-index: 20;
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 10px;
}