body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-primary);
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0 var(--side-padding);
    overflow-x: hidden;
}

*[lang="en"] {
    font-family: var(--font-primary-en);
    font-size: 14px;
}

*[lang="ka"] {
    font-family: var(--font-primary-ka);
}

a {
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    color: var(--text-primary);
    font-family: var(--font-primary-en);
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 0 var(--side-padding);
    background-color: var(--color-primary);
    box-shadow: 0 3px 15px var(--box-shadow-light);
}

.navbar-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-logo-img {
    height: calc(100% - 5px);
}

.navbar-menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 40px;
}

.navbar-item {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-link,
.dropdown-menu-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--text-primary);
    transition: color var(--transition-duration), border-color var(--transition-duration);
}

.navbar-link::after,
.dropdown-menu-link::after {
    content: '';
    position: absolute;
    bottom: -1.5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: var(--text-primary);
    transition: width var(--transition-duration);
}

.navbar-item:hover > a::after,
.dropdown-menu li:hover > a::after {
    width: 100%;
}

.navbar-item-special:hover > a::after,
.dropdown:hover > a::after {
    width: 0 !important;
}

.navbar-item-special a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary) !important;
    background-color: var(--text-primary);
    border: var(--button-border-width) solid var(--text-primary);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    transition: background-color var(--transition-duration), color var(--transition-duration) !important;
}

.navbar-item-special a:hover {
    background-color: transparent;
    color: var(--color-secondary) !important;
}

.navbar-toggler {
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    height: var(--nav-toggler-size) !important;
    width: var(--nav-toggler-size) !important;
    background-color: transparent;
    color: var(--color-secondary);
    border: var(--nav-toggler-border-width) solid var(--color-secondary);
    border-radius: var(--nav-toggler-border-radius);
    font-size: var(--nav-toggler-font-size);
    transition: background-color var(--transition-duration), color var(--transition-duration);
    flex: 0 0 auto;
}

.navbar-toggler:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.social-media-icons {
    position: fixed;
    top: calc(var(--nav-height) + (100% - var(--nav-height)) / 2);
    left: 0;
    z-index: 500;
    display: flex;
    flex-direction: column;
    transform: translate(0, -50%);
}

.soc-media-icon {
    height: var(--soc-media-icon-size);
    width: var(--soc-media-icon-size);
    font-size: 22px;
    transition: width var(--transition-duration) ease-in-out, border-radius var(--transition-duration);
}

a:first-child .soc-media-icon {
    border-top-right-radius: 10%;
}

a:last-child .soc-media-icon {
    border-bottom-right-radius: 10%;
}

.soc-media-icon:hover {
    width: var(--soc-media-icon-width-extended);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

#facebook {
    background: var(--fb-background);
}

#instagram {
    background: var(--ig-background);
}

#youtube {
    background: var(--yt-background);
}

.translator {
    position: relative;
    display: flex;
    align-items: center;
    width: 34px;
}

.translator img {
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(220, 220, 220);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170);
    border-radius: 4px;
}

.main-content {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100svh - var(--nav-height));
    padding-top: var(--nav-height);
    background-color: var(--color-secondary);
    box-shadow: 0 0 15px var(--box-shadow-dark);
    z-index: 100;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    height: auto;
    width: 100vw;
    background-color: var(--footer-bg-color);
    color: var(--text-primary);
    z-index: 200;
    box-shadow: 0 0 10px var(--box-shadow-light);
    position: relative;
    padding-bottom: var(--copyright-height);
}

.copyright {
    background-color: var(--copyright-bg-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    padding: 0;
    text-wrap: wrap;
    margin: 0 20px;
    text-align: center;
}