{% extends "ka/layout-ka.html" %}
{% load static %}

{% block title %} მთავარი - ჩრდილოეთ ამერიკის ქართული ეპარქია {% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive/home.css' %}">
{% endblock %}

{% block main %}    
    <div class="widget-panel">
        <div class="widget">
            <div class="widget-title">

            </div>
            <div class="widget-content">
                <div class="widget-image">

                </div>
            </div>
        </div>
    </div>
    <div class="news-panel">

    </div>
    <div class="widget-panel">

    </div>
{% endblock %}