{% extends "ka/widget-ka.html" %}
{% load static %}

{% block title %} მთავარი - ჩრდილოეთ ამერიკის ქართული ეპარქია {% endblock %}

{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive/home.css' %}">
{% endblock %}

{% block center-panel %}    
    <section class="news-carousel-panel">
        <div class="news-carousel-slide">
            <nav class="carousel-navigation" id="carousel-navigation">
                <button class="carousel-btn" id="prev">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button class="carousel-btn" id="next">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
            </nav>
            {% for news in recent_news %}
                <article class="news-item" id="news">
                    <div class="news-thumbnail">
                        <img src="{{ news.thumbnail.url }}" alt="Image">
                    </div>
                    <div class="news-details">
                        <div class="news-info">
                            <h3 class="news-title">{{ news.title }}</h3>
                            <p class="news-date"><span>თარიღი:</span> <span lang="en">{{ news.date | date:"m/d/Y" }}</span></p>
                        </div>
                        <a href="#" class="read-more-link">სრულად წაკითხვა</a>
                    </div>
                </article>
            {% endfor %}
            <div class="carousel-indicators" id="carousel-indicators">
            </div>
            <script src="{% static 'js/news-carousel-slide.js' %}"></script>
        </div>
    </section>
{% endblock %}
